{%extends 'base.html'%}
{%block title%} Update post {%endblock%}
{%block content%}
<div class="login-form-container">
    <h1>Update Post</h1>
    <form method="post" >
        <div class="input-container">
            <label for="title"> Title </label><input type="text" name="title" placeholder="{{post.title}}" />
        </div>
        <div class="input-container">
            <label for="body">body </label><input type="text" name="body" placeholder="{{post.body}}" />
        </div>
        <br />
        <button type="submit">Submit</button>
    </form>
</div>
{%if error%}
    {{error}}
{%endif%}
{%endblock%}
